<form>
  <div class="form-group">
    <label for="Marca">Marca</label>
    <input type="text" class="form-control" id="Marca" aria-describedby="emailHelp" placeholder="Introduce una marca">
  </div>
  <div class="form-group">
    <label for="Potencia">Potencia</label>
    <input type="number" class="form-control" id="Potencia" aria-describedby="emailHelp" placeholder="Introduce la potencia">
  </div>
  <div class="form-group">
    <label for="URL">URL</label>
    <input type="url" class="form-control" id="URL" aria-describedby="emailHelp" placeholder="Introduce la URL">
  </div>
  <button type="submit" class="btn btn-success btn-block">Agregar</button>
</form>